<launch>

    <arg name="input" default="/d405/points"/>
    <arg name="output" default="/range_filtered_points"/>
    <arg name="field_name" default="x"/>
    <arg name="limit_max" default="10.0"/>
    <arg name="limit_min" default="0.0"/>

    <node name="passthrough_filter" pkg="my_pcl_tutorial" type="passthrough_filter"  output="screen">
        <remap from="input" to="$(arg input)"/>

        <param name="field_name" value="$(arg field_name)"/>
        <param name="limit_max" value="$(arg limit_max)"/>
        <param name="limit_min" value="$(arg limit_min)"/>

        <remap from="output" to="$(arg output)"/>
    </node>

</launch>